/* input/with button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 350px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* default */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 350px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* field */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 56px 8px 12px;

width: 350px;
height: 36px;

background: #FFFFFF;
/* slate/300 */
border: 1px solid #CBD5E1;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* pietro.schirano@gmail.com */

width: 69px;
height: 20px;

/* subtle */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

/* slate/900 */
color: #0F172A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

display: none;
width: 100px;
height: 36px;

background: #0F172A;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

